
header {
  text-align: center;
  position: static;

}

header nav {
  position: static;
  display: none;
}

header nav.expanded {
  display: block;
}

header nav li {
  display: block;
  max-width: 300px;
}

main h1{
  margin-top: 0;
  font-size: 150%;

}
main{
  padding: 3px;
  margin: 3px;
  box-shadow: none;
  border-radius: none;
}
