html {
  background-image: url(images/woodbackground.jpg);
  background-color: gray;
  font-family: sans-serif;
  font-size: 2em;
}

body {
  margin: 0;
  color: rgb(88, 88, 88);
}

h1{
  margin-left: 20px;
  text-shadow: 0 1px black;
  color: white;
  font-size: 2.5em;
}


.page {
  background-color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-width: 2px;
  border-color: white;
  margin-top: 50px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.dare-container {
  display: flex;
}
.dare {
  flex: 1;
  font-size: 2em;
  font-weight: 600;
}

.buttons-div {
  display: flex;
}

.skip-button {
  margin: 30px 10px;
  padding: 10px;
  font-size: 1.5em;
  flex: 1;
}

.dare-complete-button{
  margin: 30px 10px;
  padding: 10px;
  font-size: 1.5em;
  flex: 1;
}

.point-count {
  font-size: 2em;
}

.high-score {
  font-size: 2em;
}

.user {
  display: flex;
}

.user-dare {
  flex: 3;
  margin: 30px 10px;
  padding: 10px;
  font-size: 1.5em;
}

.add-dare {
  flex: 1;
  margin: 30px 10px;
  padding: 10px;
  font-size: 1.5em;
}

footer{
  margin: 10px;
  font-family: monospace;
  font-size: 1em;
  text-align: center;
  color: white;
}
